<%- include('include/_header')%>

<tr>
  <td><%= donorsdata.name %></td>
  <td><%= donorsdata.type %></td>
  <td><%= donorsdata.location %></td>
  <td><%= donorsdata.telephone %></td>
  <hr>
</tr>

<a href="/donorspage">BACK</a><br><br>
<a href="/">HOME</a><br><br>

<%- include('include/_footer')%>
