<%- include('include/_header')%>

<% for(var i=0;i<patients.length;i++){%>
<tr>
  <td><%= i+1 %></td>
  <td><%= patients[i].name %></td>
  <td><%= patients[i].type %></td>
  <td><%= patients[i].location %></td>
  <td><%= patients[i].telephone %></td>
  <a href="/patientdonors?location=<%= patients[i].location %>">SEARCH DONORS</a>
  <hr>
</tr>
<%}%>

<a href="/patient">BACK</a><br><br>
<a href="/">HOME</a><br><br>

<%- include('include/_footer')%>
